body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	margin-bottom: 10%;
}

#header {
	margin: 25px 0 25px 0;
	text-align: center;
}

#headStyle {
	font: 4em verdana, serif;
	//font-weight: bold;
	color: white;
	letter-spacing: 5px;
	text-decoration: none;
}

#tweetBody {
	height: auto;
}

#navStyle {
	margin-bottom: 1em;
}

.nav-pills > li > a {
	color: white;
}

.nav-pills > li > a:hover {
	background-color: #2492c8;
}

#viewStyle {
	font: 14px verdana, serif;
	color: white;
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
}

.oneTweet {
	background: #e8f6f8;
	border: 1px solid;
	border-radius: 10px;
	text-align: left;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
}

.tweetName {
	color: #00688B;
	font-weight: bold;
	font: 1.25em arial, sans-serif;
	padding: 15px 0 0 15px;
	margin-bottom: 5px;
}

.tweetMsg {
	padding: 0 0 0 15px;
	font: 1em verdana, sans-serif;
}

.tweetCreated {
	font-style: italic;
	font-size: .75em;
	padding: 0 0 5px 15px;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 75px;
    right: 100px;
    display: none;
    color: white;
    font-size: 5em;
    font-weight: bold;
}

#carrot {
	text-decoration: none;
}