body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

#header {
	margin: 40px 0 40px 0;
	font: 5em verdana, serif;
	font-weight: bold;
	text-align: center;
	color: white;
}


#tweetBody {
	height: 40em;
	overflow-y: scroll;
}

.oneTweet {
	background: #e8f6f8;
	border: 1px solid;
	border-radius: 10px;
	text-align: left;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
}

.tweetName {
	color: #00688B;
	font-weight: bold;
	font:1.25em arial, sans-serif;
	padding: 15px 0 0 15px;
	margin-bottom: 0;
}

.tweetMsg {
	padding: 0 0 0 15px;
	font:1em verdana, sans-serif;
}

.tweetCreated {
	font-style: italic;
	font-size: .75em;
	padding: 0 0 5px 15px;
}

#newTweet {
	background: #e8f6f8;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;
	font:1.25em arial, sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 0 5px 0;
}